.page-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scrolling-image figure {
  width: 50vw;
  justify-content: center;
  flex-flow: column;
}

.document-image figure {
  /* background-color: aqua; */
  width: 50vw;
  /* align-items: flex-end; */
}

.document-image figure img, .scrolling-image figure img {
  padding: 15px;
  /* height and object-fit: contain makes the image responsive to the container */
  height: 80vh;
  object-fit: contain;
}

.content-introduction {
  align-items: center;
  background-color: #000;
  color: #ffffff;
  display: flex;
  height: 100vh;
  justify-content: center;
  pointer-events: none;
  position: fixed;
  opacity: 0;
  transition: opacity 1.5s linear;
  width: 100vw;

}

.content-introduction.active {
  opacity: 0.5;
}