.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  display: flex;
  position: relative;
  min-height: 384px;
}

img {
  display: block;
  /* width: 70%; */
  margin: auto;
  width: 100%;
  height: auto;
  /* height: auto; */
}

.caption {
  font-size: 11px;
  font-style: italic;
}