a {
    color: #D3D3D3;
    transition: color 300ms;
}

a:hover {
    color: #808080;
}

p, li {

    text-align: left;
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: 0;
    /* margin-bottom: 23px; */
}