figure {
  display: flex;
  flex-flow: column;
  width: 100vw;
  padding: 0;
  margin: 0;
}

img {
  margin-bottom: 0;
  animation: imageFadeIn 5s;
  -webkit-animation: imageFadeIn 5s;
  -moz-animation: imageFadeIn 5s;
  -o-animation: imageFadeIn 5s;
  -ms-animation: imageFadeIn 5s;
}

@keyframes imageFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

figcaption {
  font-size: var(--font-size-md);
  padding: 2px;
  background-color: #ffffff;
  opacity: 0.7;
  align-self: center;
  max-width: 60%;
}

.source {
  font-size: var(--font-size-xs);
  font-style: italic;
  background-color: #ffffff;
  opacity: 0.7;
  align-self: center;
  text-align: center;
  display: inline-block;
}

.source a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: underline;
}