
li .menu-item {
  list-style-type: none; 
  background-color: rgba(128, 128, 128, 0.7);
  transition: background-color 300ms ease-out;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  color: white;
  border:0.16em solid #FFFFFF;
}

li.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid white;
}


.menu-item.active {
  background-color: rgba(255, 255, 250, 0.7);
  border: 2px solid white;
}