.text-box-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 350;
  height: 100vh;
  font-size: var(--font-size-lg);
  opacity: 0.7;
  animation: textBoxFadeIn 3s;
}

@keyframes textBoxFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}

.text-box, .text-box-static {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  z-index: 380;
}

.text-box-static {
  font-size: var(--font-size-lg);

}

.text-box .source {
  margin-top: 5px;
  padding: 5px;
  text-align: right;
  display: inline-block;
}