.text-box-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: #0000ff; */
  z-index: 350;
  height: 100vh;
  opacity: 0.7;
}


.text-box {
  background-color: #000000;
  color: #ffffff;
  opacity: 0.4;
  z-index: 350;
  text-align: center;
  height: 20vh;
  width: 45%;
}