figure {
    display: flex;
    flex-flow: column;
    width: 30vw;
}

img {
    width: 30vw;
    margin-bottom: 0;
}

figcaption {
    padding: 2px;
    align-self: flex-start;
    border-top: 2px solid rgb(169, 13, 94);
    border-bottom: 2px solid rgb(169, 13, 94);
}

.caption {
    font-size: 11px;
    font-style: italic;
}