.video-container {
    position: fixed;
    background-color: #282c34;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: none;
    z-index: 380;
    width: 100vw;
    height: 100vh;
    transition: opacity 1s ease 0s;
}