.video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
 }


.video-caption {
    font-style: italic;
}

.video-player {
    cursor: pointer;
}

.react-player > div {
    cursor: pointer;
}