.video-container {
    display: flex; 
    flex-wrap: wrap;
    max-width: 10000px;
    margin: 0 auto;
}

.flex-item {
    width: 100%
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%;
    cursor: pointer;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.video-caption {
    text-align: center;
    font-style: italic;
}