.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.site-container {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #282c34;
}