.cover-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  z-index: 500;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
}

.active {
  visibility: visible;
  opacity: 1;
}

.default-cover-container {
  /* overflow: hidden; */
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('https://d10yslqdemxz8r.cloudfront.net/3d-visualisation/fc-20230314-00001-R26288154-0001.jpg');
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.cover-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.cover-content {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.cover-container .header {
  margin-bottom: 100px;
}

.cover-container h1 {
  margin-bottom: 100px;
}

.cover-container h2 {
  text-transform: uppercase;
  font-style: italic;
}

.button-wrapper {
  display: inline-block;
  margin: 0.3em;
}

.navigation .button {
  font-size: 20px;
  border: 0.16em solid #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.4;
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
  transition: all 300ms ease-out;
  height: 5em;
}

.button:hover {
  background-color: rgba(200, 200, 200, 0.7);
  opacity: 1;
  cursor: pointer;
}

@media all and (max-width: 428px) {

  .default-cover-container {
    background-color: #ffffff;
    background-size: 100%;
    background-repeat: repeat-y;
    background-image: url('https://d10yslqdemxz8r.cloudfront.net/images/FL25129142.jpg');
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}