html {
  font-size: 100%;
  background-color: #282c34;
}

html,
body {
  /* overflow: hidden; */
}


body {
  margin: 0;
  font-family: Alliance Mono, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}