.menu-container {
    font-size: 14px;
    color: white;
    position: absolute;
    top: 115px;
    left: 30px;
    /* absolute size this? */
    height: 40%;
    width: 265px;
    opacity: 0.7;
    z-index: 15;
}

.menu-container div {
    opacity: 1;
}

.menu-container ul {
    text-align: left;
}

.menu-container li {
    list-style-type: none;
    background-color: rgba(128, 128, 128, 0.7);
    transition: background-color 300ms ease-out;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    color: white;
    border: 0.16em solid #FFFFFF;
}

.menu-container li:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid white;
}

.menu-container h2 {
    font-size: 14px;
    text-transform: uppercase;
}

.tab {
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid white;
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    width: 100px;
}

.tab:hover {
    opacity: 0.4;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid white;
}