.menu-container {
    font-size: 14px;
    color: white;
    position: absolute;
    top: 115px;
    left: 30px;
    height: 80%;
    width: 265px;
    z-index: 15;
}

div.menu-items {
    overflow-y: scroll;
}

.tab-container {
    margin: 5px 5px 15px 5px;
    padding: 5px;
}

.tab {
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    transition: opacity 0.3s;
}

.tab:hover {
    opacity: 0.4;
}