.menu-container {
    font-size: 14px;
    color: white;
    position: absolute;
    top: 115px;
    left: 30px;
    height: 80%;
    width: 265px;
    opacity: 0.7;
    z-index: 15;
    overflow: scroll;
}

.menu-container div {
    opacity: 1;
}

.menu-container ul {
    text-align: left;
}

.menu-container li {
    list-style-type: none;
    background-color: rgba(128, 128, 128, 0.7);
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    color: white;
    border: 0.16em solid #FFFFFF;
    transition: background-color 300ms ease-out;
}

.menu-container li:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid white;
}

.tab-container {
    margin: 5px 5px 15px 5px;
    padding: 5px;
    /* background-color: blueviolet */
}

.tab {
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    transition: opacity 0.3s;
}

.tab:hover {
    opacity: 0.4;
    /* background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid white; */
}