.side-bar-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    font-size: 28px;
    width: 25%;

  color: white;
  background-color: black;


}

.side-bar-menu {
    position: relative;
    height: 100%;
    width: 25%;
}